<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690606474419-uiemh4r1d26pam0jrlqa4jljtj2685ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690606474419-uiemh4r1d26pam0jrlqa4jljtj2685ce</string>
	<key>API_KEY</key>
	<string>AIzaSyAsoxLVPScgXdn88otPWHCeMpci4iZp7G0</string>
	<key>GCM_SENDER_ID</key>
	<string>690606474419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dlc.coreapp.NewHireProject</string>
	<key>PROJECT_ID</key>
	<string>newhiretraining-3d264</string>
	<key>STORAGE_BUCKET</key>
	<string>newhiretraining-3d264.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690606474419:ios:14e7117b6a73202a141cc6</string>
	<key>DATABASE_URL</key>
	<string>https://newhiretraining-3d264.firebaseio.com</string>
</dict>
</plist>